/*
 * Theme Customizer CSS
 *
 */

#customize-control-glades_control_default_fonts,
#customize-control-glades_control_postmeta_headline {
	margin-top: 12px;
}
#customize-control-glades_control_default_fonts,
#customize-control-glades_control_header_content,
#customize-control-glades_control_post_images,
#customize-control-glades_control_postmeta_headline {
	margin-bottom: 0;
}

#customize-control-glades_control_footer_text textarea {
	height: 4em;
}